<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Hoja de Vida</title>
    <link rel="icon" href="/images/escudo-seguro.png" type="image/png">
    <!-- Meta para colorear la barra del navegador -->
    <meta name="theme-color" content="#374151">
    <link href="/css/output.css" rel="stylesheet">
    <script src="/js/main.js" defer></script>
</head>
<body>