<nav class="bg-gray-700 text-white p-4">
    <div class="container mx-auto">
        <ul class="flex space-x-4">
            <li><a href="/" class="hover:text-gray-300">Home</a></li>
            <li><a href="/estudios" class="hover:text-gray-300">Estudios Realizados</a></li>
            <li><a href="/experiencia" class="hover:text-gray-300">Experiencia</a></li>
            <li><a href="/proyectos" class="hover:text-gray-300">Proyectos</a></li>
            <li><a href="/contacto" class="hover:text-gray-300">Contacto</a></li>
        </ul>
    </div>
</nav>